<!--
File edit_item.html

Authors: Samuel Robertson

Description: Displays the graphical user interface for the web page that allows a producer to edit the properties of the items in their inventory; they are able to change an item's name, quantity and dietary
information that is relevant to that item and also shows the current information related to that item
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <link rel="stylesheet" href="../../static/SupplierDash.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/TeamLogoNoBackground.png" />
</head>
<body>
    <header>
        <div class="logo">Leftovers</div>
        <nav>

            <a href="{{ url_for('inventory')}}">Your Inventory</a>
            <a href="{{ url_for('users.account') }}">Account</a>


            <a href="{{ url_for('users.logout')}}">Log out</a>
        </nav>
    </header>
    <section class="dashboard">
        <div id="ui-container">
            <h1 class="title">Edit Item in Inventory</h1>
            <div class="edit-cards-container">
                <h2>Current Item Details</h2>
                <div class="edit-card">
                    <img class="edit-card-image" src="https://source.unsplash.com/600x600/?{{ item.item }}" alt="Food">
                    <div class="edit-card-content">
                        <p class="item-title">{{ item.item }}</p>
                        <p class="item-quantity">{{ item.quantity }}</p>
                    </div>
                </div>
            </div>
            <!-- form to edit item -->
            <div class="container">
                <h1>Edit Item</h1>
                <form method="POST" action="{{ url_for('producer.edit_inventory', id=item.id) }}">
                    <label for="name">Item Name</label>
                    <input id="name" type="text" name="name" value="{{ item.item }}" required>
                    <label for="quantity">Quantity</label>
                    <input id="quantity" type="number" name="quantity" value="{{ item.quantity }}" required>
                    <label for="dietary">Dietary</label>
                    <input id="dietary" type="text" name="dietary" value="{{ item.dietary }}">
                    <button type="submit" class="submit-btn">Save Changes</button>
                </form>
            </div>
            </div>
    </section>
    <footer>
        <nav>
            <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="{{ url_for('contact_us') }}">Contact Us</a>
        </nav>
    </footer>
</body>
</html>
