<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Item</title>
    <link rel="stylesheet" href="../../static/SupplierDash.css">
</head>
<body>
    <header>
        <div class="logo">Leftovers</div>
        <nav>
            <a href="{{ url_for('producer.supplier_dash')}}">Dashboard</a>
            <a href="{{ url_for('producer.producer_account') }}">Account</a>
            <a href="{{ url_for('users.logout')}}">Log out</a>
        </nav>
    </header>
    <section class="dashboard">
        <div id="ui-container">
            <h1 class="title">Add Item to Inventory</h1>
            <div class="add-cards-container">
                <h2>New Item</h2>
                <form method="POST" action="/supplier_additem">
                    <div class="container">
                        <label>
                            <input type="text" name="name" class="input" placeholder="Item Name">
                        </label>
                        <label>
                            <input type="number" name="quantity" class="input" placeholder="Quantity">
                        </label>
                        <label>
                            <input type="text" name="dietary" class="input" placeholder="Dietary">
                        </label>
                            <input type="submit" class="add-item-button" value="Add Item">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <nav>
            <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="{{ url_for('contact_us') }}">Contact Us</a>
        </nav>
    </footer>
</body>
</html>