<!--
File: supplier_additem.html

Authors: Samuel Robertson, Alex Macmillan

Description: Displays the graphical user interface for the web page that allows producers to add items to their inventory; they must specify the name of the item, the quantity of that item and any dietary requirements that are relevant for
that item before being able to add it to the inventory
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Item</title>
    <link rel="stylesheet" href="../../static/supplier_dash.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/TeamLogoNoBackground.png" />
</head>
<body>
    <header>
        <div class="logo">Leftovers</div>
        <nav>
            <a href="{{ url_for('producer.supplier_dash')}}">Dashboard</a>
            <a href="{{ url_for('users.account') }}">Account</a>
            <a href="{{ url_for('users.logout')}}">Log out</a>
        </nav>
    </header>
    <section class="dashboard">
        <div id="add-item-container">
            <h1 class="title">Add Item to Inventory</h1>
            <div class="add-cards-container">
                <h2>New Item</h2>
                <form method="POST" action="/supplier_additem">
                    <div class="add-item-container">
                        <label>
                            <input type="text" name="name" class="input" placeholder="Item Name">
                        </label>
                        <label>
                            <input type="number" name="quantity" class="input" placeholder="Quantity">
                        </label>
                        <label>
                            <input type="text" name="dietary" class="input" placeholder="Dietary">
                        </label>
                            <input type="submit" class="add-item-button" value="Add Item">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <nav>
            <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="{{ url_for('contact_us') }}">Contact Us</a>
        </nav>
    </footer>
</body>
</html>