<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Dashboard</title>
    <link rel="stylesheet" href="../../static/SupplierDash.css">
</head>
<body>
    <header>
        <div class="logo">Leftovers</div>
        <nav>
            <a href="{{ url_for('producer.supplier_dash')}}">Dashboard</a>
            <a href="{{ url_for('users.account') }}">Account</a>
            <a href="{{ url_for('users.logout')}}">Log out</a>
        </nav>
    </header>
    <div class = "inventory-buttons">
        <h1>Your Inventory</h1>
        <a href="{{ url_for('add_item') }}"><button id="add-item-button">Add an Item</button></a>
        <a href="{{ url_for('orders') }}"><button id="view-orders-button">View Reserved Orders</button></a>
    </div>
    <div id="cards-container">
        {% for item in items %}
            <div class="card">
                <img src="https://source.unsplash.com/600x600/? {{ item.item }}" alt="Food">
                <p class="item-title">Item: {{ item.item }}</p>
                <p class="item-quantity">x {{ item.quantity }}</p>
                <p class="item-dietary">Dietary: {{ item.dietary }}</p>
                <div class="button-container">
                        <form method="GET" action="{{ url_for('producer.edit_inventory', id=item.id) }}">
                            <button type="submit" class="edit-button">Edit</button>
                        </form>
                        <form method="POST" action="/inventory/remove/{{ item.id }}">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <footer>
        <nav>
            <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="{{ url_for('contact_us') }}">Contact Us</a>
        </nav>
    </footer>
</body>
</html>