<!--
File: supplier_dash.html

Authors: Samuel Robertson, Alex Macmillan

Description: Displays the graphical user interface for the producer dashboard. In this page, the producer can click on buttons that allows them to view the items they have in their inventory, add, delete and updated items in their inventory
and view the orders they currently have from consumers
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Dashboard</title>
    <link rel="stylesheet" href="../../static/SupplierDash.css">
</head>
<body>
    <header>
        <div class="logo">Leftovers</div>
        <nav>
            <a href="{{ url_for('users.account') }}">Account</a>
            <a href="{{ url_for('users.logout')}}">Log out</a>
        </nav>
    </header>
    <section>
        <div class="dash-buttons">
            <h1>Dashboard</h1>
            <div class="button-detail">
                <a href="{{ url_for('add_item') }}"><button id="add-item-dash">Add an Item</button></a>
                <span class="detail">Here you can add an item to your inventory</span>
            </div>
            <div class="button-detail">
                <a href="{{ url_for('orders') }}"><button id="view-orders-dash">View Reserved Orders</button></a>
                <span class="detail">Here you can view your items that have been reserved by a receiver</span>
            </div>
            <div class="button-detail">
                <a href="{{ url_for('inventory') }}"><button id="inventory-dash">Your Inventory</button></a>
                <span class="detail">Here you can view,delete,and update items in your inventory</span>
            </div>
        </div>
    </section>
    <footer>
        <nav>
            <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="{{ url_for('contact_us') }}">Contact Us</a>
        </nav>
    </footer>
</body>
</html>