* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #4CAF50;
}

header .logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.2rem;
}

footer {
    background-color: #4CAF50;
    padding: 1rem;
}

footer nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer nav a:hover {
    text-decoration: underline;
}

.container {
    height: 85vh;
    background-color: #fff;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.account-info p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.account-info strong {
    font-weight: bold;
}

.account-info span {
    font-weight: normal;
}