body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 20px;
    overflow: hidden;
}

.PageText {
  text-align: center;
  top: 300px;
  left: 902px;
  font-size: 30px;
}

.RectangleTop, .RectangleBottom {
  position: fixed;
  width: 100%;
  height: 70px;
    background-color: #4CAF50;
  flex-grow: 1;
}

.RectangleTop {
  top: 1px;
  left: 1px;
}

.RectangleBottom {
  bottom: 0;
  left: 1px;
}

.RectangleSide {
    position: fixed;
    top: 25%;
    left: 86%;
    width: 14%;
    height: 500px;
    background-color: #4CAF50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 3px solid #fff;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 10px;
}

.RectangleSide h4 {
    margin-top: 0;
}
.RectangleSide ul {
    list-style-type: none;
    padding: 0;
}
.RectangleSide li {
    margin-bottom: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 1.75%;
  right: 2%;
  font-size: 1.2rem;
  color: #FFFFFF;
  margin: 0;
}

.HomeLink,
.LoginLink,
.DashboardLink,
.OrdersLink,
.AccountLink,
.LogoutLink{
  color: #FFFFFF;
  margin: 5px;
  text-decoration: none;
}

.HomeLink:hover,
.LoginLink:hover,
.DashboardLink:hover,
.OrdersLink,
.AccountLink:hover,
.LogoutLink:hover{
  cursor: pointer;
  text-decoration: underline;
}

.LeftoversText {
  position: absolute;
  color: #FFFFFF;
  top: 1.5%;
  left: 3%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 1.5rem;
  font-size: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"], input[type="password"], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
  background-color: #FFE7AA;
}

.button {
  cursor: pointer;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
  color: #FFFFFF;
  background-color: #4CAF50;
}

.image {
  position: absolute;
  top: calc(1% - 5px);
  left: 21%;
  transform: translateX(-50%);
  width: 90px;
  height: 90px;
}

.AboutUs, .contact {
  position: absolute;
  bottom: 1.5%;
  font-size: 1.2rem;
  color: #FFFFFF
}

.AboutUs {
  left: 1.5%;
}

.contact {
  left: 6%;
}

#UiContainer {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.SearchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}


.clicked {
  background-color: #f7f7f7;
  transition: background-color 0.2s;
}

#suppliers {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  color: #000000;
}

.supplier {
    border: 1px solid #333;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: calc(25% - 10px);
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-color: #FFE7AA;
}

.supplier:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

#SearchBar {
    margin-bottom: 10px;
}


form.order {
    max-height: 400px;
    max-width: 60%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    color: #000000;
}

.InventoryCard {
    margin-bottom: 10px;
    border: 1px solid #000000;
    padding: 5px; /* Adjust padding as desired */
    width: 15%; /* Adjust the card width as desired */
    height: 15%;
    /* Other styles for the card */
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

.InventoryCard img {
    max-width: 100%; /* Scale down the image to fit within the card */
    max-height: 100%; /* Scale down the image to fit within the card */
    object-fit: contain; /* Preserve the aspect ratio of the image */
    border-bottom: 1px solid #ddd;
}

.InventoryCard:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.InventoryCard .item-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.InventoryCard .item-quantity {
    margin-bottom: 10px;
}

.InventoryCard.selected {
    background-color: #e0e0e0;
}

.AddToOrderButton {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.SubmitButton {
    border: 3px solid #fff;
    background-color: #59a956;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.SubmitButton:hover {
    background-color: #478e47;
}

.basket {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
}

#BasketList li {
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease;
    font-size: 20px;
}

.RemoveItem {
  color: red;
  cursor: pointer;
    margin-left: 10px;
}

#info{
    text-align: center;
    font-size: 40px;
}

#info h3{
    text-decoration: underline;
}

.OrderButton {
  background-color: #59a956;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.OrderButton:hover {
  background-color: #478e47;
}

.basket h4 {
  margin-bottom: 1px;
}

.basket-item-quantity{
    margin-left: 10px;
}


.OrderConfirm{
    font-size: 60px;
    text-align: center;
}


.order-feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 900px; /* Adjust the maximum height as per your preference */
    overflow-y: auto; /* Enable vertical scrolling */
}

.order-card {
    position: relative;
    background-color: #FFE7AA;
    padding: 10px;
    border-radius: 5px;
    width: 400px; /* Adjust the width as per your preference */
}

.order-id {
    font-weight: bold;
    font-size: 40px; /* Adjust the font size as per your preference */
}

.item-name,
.item-quantity {
    margin-top: 5px;
    font-size: 30px; /* Adjust the font size as per your preference */
}

.OrderCancelled{
    font-size: 60px;
}

.CancelButton {
    position: absolute;
    left: 65%;
    bottom: 10px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.CancelButton:hover {
    background-color: #ff5555;
}