.submit {
    position: absolute;
    top: 650px;
    left: 920px;
}

.page_text{
    text-align: center;
    top: 300px;
    left: 902px;
    font-size: 30px;
}

.rectangle_top {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 1950px; /* Set the width of the rectangle */
    height: 100px; /* Set the height of the rectangle */
    background-color: #59a956; /* Set the background color of the rectangle */
}

.rectangle_bottom {
    position: absolute;
    top: 900px;
    left: 1px;
    width: 2000px; /* Set the width of the rectangle */
    height: 100px; /* Set the height of the rectangle */
    background-color: #59a956; /* Set the background color of the rectangle */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
}
