.submit {
    position: absolute;
    top: 650px;
    left: 920px;
}

.page_text{
    text-align: center;
    top: 300px;
    left: 902px;
    font-size: 30px;
}

.rectangle_top {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 1950px;
    height: 100px;
    background-color: #59a956;
}

.rectangle_bottom {
    position: absolute;
    top: 900px;
    left: 1px;
    width: 2000px;
    height: 100px;
    background-color: #59a956;
}

.home_link{
    position: absolute;
    top: 30px;
    left: 1550px;
    font-size: 30px;
}

.login_link{
    position: absolute;
    top: 30px;
    left: 1650px;
    font-size: 30px;
}

.register_link{
    position: absolute;
    top: 30px;
    left: 1750px;
    font-size: 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
}

input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
    margin-bottom: 10px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #FFFFFF; /* Change this to your desired color */
}

.leftovers_text{
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 60px;
    color: #FFFFFF;
}
