<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero-Hunger App</title>
    <link rel="stylesheet" href="../static/AccountStyle.css">
</head>
<body>
    <header>
        <div class="logo">Leftovers</div>
        <nav>
            <a href="">Discover</a>
            <a href="Home.html">Log out</a>
        </nav>
    </header>
    <div class="container">
        <h1>Account Information</h1>
        <div class="account-info">
            <p><strong>Username:</strong> <span id="username">user123</span></p>
            <p><strong>Email:</strong> <span id="email">user123@example.com</span></p>
            <p><strong>Status:</strong> <span id="status">Supplier</span></p>
        </div>
    </div>
    <footer>
        <nav>
            <a href="about.html">About Us</a>
            <a href="contact.html">Contact Us</a>
        </nav>
    </footer>
</body>
</html>