<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css"/>
    <script src="static/scripts.js"></script>
</head>

<body>
    <div class="rectangle_top"></div>
    <div class="rectangle_bottom"></div>
    <div class="leftovers_text">Leftovers</div>
    <!--<img src="../static/team_logo.png" alt="Food" class="image"/> -->

    <a href="{{ url_for('index') }}"><div class="home_link">Home</div></a>

    <a href="{{ url_for('users.login') }}"><div class="login_link">Login</div></a>
    <a href="{{ url_for('users.register') }}"><div class="register_link">Register</div></a>

    <a href="{{ url_for('users.about_us') }}"><div class="about_us">About Us</div></a>
    <a href="{{ url_for('users.contact_us') }}"><div class="contact">Contact Us</div></a>

    <a href="{{ url_for('users.feed') }}"><div class="test_button">Feed</div></a>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>