<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css"/>
    <script src="../static/scripts.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/TeamLogoNoBackground.png" />
</head>

<body>
    <div class="RectangleTop"></div>
    <div class="RectangleBottom"></div>
    <div class="LeftoversText">Leftovers</div>

    {% if current_user.is_authenticated %}
        <div class="nav-links">
            <a href="{{ url_for('consumer.feed') }}"><div class="DashboardLink">Dashboard</div></a>

            <a href="{{ url_for('order_details') }}"><div class="OrdersLink">Orders</div></a>
            <a href="{{ url_for('users.account') }}"><div class="AccountLink">Account</div></a>

            <a href="{{ url_for('users.logout') }}"><div class="LogoutLink">Log out</div></a>
        </div>
    {% else %}
        <div class="nav-links">
            <a href="{{ url_for('index') }}"><div class="HomeLink">Home</div></a>
            <a href="{{ url_for('users.login') }}"><div class="LoginLink">Log in</div></a>
        </div>
    {% endif %}


    <a href="{{ url_for('about_us') }}"><div class="AboutUs">About Us</div></a>
    <a href="{{ url_for('contact_us') }}"><div class="contact">Contact Us</div></a>


    {% block content %}
    {% endblock %}
</body>
<div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages-list">
                    {% for message in messages %}
                        <li class="{{ message[1] }}">{{ message[0] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

</html>