<!--
File: consumer_orders.html

Authors: George Pickard

Description: Provides the graphical user interface for the web page that displays the orders that the current user has placed; it makes
use of a function in consumer/view.py to retrieve the order information from the database and delete existing orders if the user
wishes to do so
-->


{% extends 'base.html' %}

{% block content %}
    <title>Your Orders</title>

    <b class="order-feed">
        {% if orders_list %}
            {% for order in orders_list %}
                <div class="order-card">
                    <div class="order-details">
                        <div class="order-id">Order ID: {{ order.order_id }}</div>
                        <div class="item-name">Item: {{ order.item }}</div>
                        <div class="item-quantity">Quantity: {{ order.quantity }}</div>
                    </div>
                    <form action="{{ url_for('cancel_order', order_id=order.order_id, order_item=order.item, order_quantity=order.quantity) }}" method="post">
                        <button class="CancelButton" type="submit">Cancel Order</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <div class="OrderCancelled">You currently have no orders!</div>
        {% endif %}
    </div>
{% endblock %}