{% extends "base.html" %}

{% block content %}
    <div id="ui-container">
      <div class="search-container">
        <input type="text" id="location-search" placeholder="Location">
          <div class="dropdown">
            <button onclick="toggleDropdown()" class="dropbtn">Allergens</button>
              <button id="filter-button">Search</button>
            <div id="dropdownContent" class="dropdown-content">
                <a href="#">Dairy-free</a>
                <a href="#">Gluten-free</a>
                <a href="#">Nut-free</a>
                <a href="#">Soy-free</a>
            </div>
          </div>
      </div>

        <div id="cards-container" style="overflow: auto; max-height: 400px;">
            <a href="https://example.com/pasta">
                <div class="card">
                    <img src="https://source.unsplash.com/600x600/?abstract" alt="Food">
                    <h2>Pasta</h2>
                    <p>New York, NY</p>
                    <p class="allergen-warning">Gluten-free</p>
                </div>
            </a>
        </div>
    </div>


    <script>
        createCard(
          "https://example.com/pasta",
          "https://source.unsplash.com/600x600/?abstract",
          "Pasta",
          "New York, NY",
          "Gluten-free"
        );

        createCard(
          "https://example.com/pasta",
          "https://source.unsplash.com/600x600/?abstract",
          "Pasta",
          "New York, NY",
          "Gluten-free"
        );

        createCard(
          "https://example.com/pasta",
          "https://source.unsplash.com/600x600/?abstract",
          "Pasta",
          "New York, NY",
          "Gluten-free"
        );
    </script>

{% endblock %}