{% extends "base.html" %}

{% block content %}
    <div id="ui-container">
      <div class="search-container">
        <input type="text" id="location-search" placeholder="Location">
        <button id="allergens-button">Allergens</button>
        <div id="allergens-dropdown">
          <ul>
            <li>Dairy-free</li>
            <li>Gluten-free</li>
            <li>Nut-free</li>
            <li>Soy-free</li>
          </ul>
        </div>
        <button id="filter-button">Search</button>
      </div>
        <div id="cards-container" style="overflow: auto; max-height: 400px;">
            <a href="https://example.com/pasta">
                <div class="card">
                    <img src="https://source.unsplash.com/600x600/?abstract" alt="Food">
                    <h2>Pasta</h2>
                    <p>New York, NY</p>
                    <p class="allergen-warning">Gluten-free</p>
                </div>
            </a>
        </div>
    </div>


    <script>
        createCard(
            "https://example.com/new-business",
            "https://source.unsplash.com/600x600/?abstract",
            "New Business",
            "City, State",
            "Allergen-free"
        );

        createCard(
            "https://example.com/new-business",
            "https://source.unsplash.com/600x600/?abstract",
            "New Business",
            "City, State",
            "Allergen-free"
        );

        createCard(
            "https://example.com/new-business",
            "https://source.unsplash.com/600x600/?abstract",
            "New Business",
            "City, State",
            "Allergen-free"
        );

        createCard(
            "https://example.com/new-business",
            "https://source.unsplash.com/600x600/?abstract",
            "New Business",
            "City, State",
            "Allergen-free"
        );
    </script>

{% endblock %}