{% extends "base.html" %}

{% block content %}

    <title>Order Page</title>

    <div id="info">
        <h3>{{ supplier_name }}</h3>
        <p>{{ supplier_address }},
        {{ supplier_postcode }}</p>
    </div>

    <div id="UiContainer">
        <div id="SearchBar">
            <label for="SearchInput"></label><input type="text" id="SearchInput" placeholder="Search for items" onkeyup="filterItems()">
        </div>
    </div>

    <form method="POST" class="order" action="{{ url_for('place_order') }}">
        {% for item in items %}
            <div class="InventoryCard" id="item-{{ loop.index }}" onclick="addToOrder('item-{{ loop.index }}')">
                <img src="https://source.unsplash.com/600x600/?{{ item.item }}" alt="Food">
                <div class="item-name">{{ item.item }}</div>
                <div class="item-quantity">Quantity: {{ item.quantity }}</div>
                <div class="item_dietary">Allergens: {{ item.dietary }}</div>
                <input type="hidden" name="supplier_id" value="{{ supplier_id }}">
                <input type="hidden" name="consumer_id" value="{{ consumer_id }}">
            </div>
        {% endfor %}

        <div class="RectangleSide">
            <div class="basket">
                <h4><u>Your Basket:</u></h4>
                <ul id="BasketList"></ul>
                <input type="submit" value="Submit Order" class="SubmitButton" id="SubmitBtn">
            </div>
        </div>
    </form>
{% endblock %}