{% extends "base.html" %}

{% block content %}

    <title>Order Page</title>
    <h3>{{ supplier.name }}</h3>
    <p>{{ supplier.address }}</p>

    <div id="info">
        <h3>Name placeholder</h3>
        <p>Address Placeholder</p>
    </div>

    <div id="UiContainer">
        <div id="SearchBar">
            <label for="SearchInput"></label><input type="text" id="SearchInput" placeholder="Search for items" onkeyup="filterItem()">
        </div>
    </div>

    <div class="RectangleSide">
        <div id="basket">
            <h4><u>Your Basket:</u></h4>
            <ul id="BasketList"></ul>
            <input type="submit" value="Submit Order" class="SubmitButton" id="SubmitBtn">
        </div>
    </div>

    <div class="InventoryContainer">
        {% for item in supplier.inventory %}
        <div class="InventoryCard" id="item-{{ loop.index }}" onclick="addToOrder('item-{{ loop.index }}')">
            <div class="ItemName">{{ item.item }}</div>
            <div class="ItemQuantity">Quantity: {{ item.quantity }}</div>
            <input type="hidden" name="item" value="{{ item.item }}">
        </div>
        {% endfor %}
    </div>

{% endblock %}