{% extends "base.html" %}

{% block content %}

    <title>Register form</title>

    <div class="center">
        <div class="column is-5 is-offset-4">
            <h3 class="PageText">Register</h3>
            <form method="POST">
                <div class="container">
                    {{ form.csrf_token() }}
                    {{ form.email(class="input", placeholder="Email") }}
                    {{ form.firstname(class="input", placeholder="First Name") }}
                    {{ form.lastname(class="input", placeholder="Last Name") }}
                    {{ form.phone(class="input", placeholder="Phone") }}
                    {{ form.password(class="input", placeholder="Password") }}
                    {{ form.confirm_password(class="input", placeholder="Confirm Password") }}
                    {{ form.postcode(class="input", placeholder="Postcode") }}
                    {{ form.submit(class="button") }}
                    <!--<a href="{{ url_for('users.login') }}">Already have an account? Sign in</a>-->
                </div>
            </form>
        </div>
    </div>
{% endblock %}
