{% extends "base.html" %}

{% block content %}

    <title>Login form</title>

    <div class="center">
        <div class="column is-5 is-offset-4">
            <h3 class="page_text">Login</h3>
                <form method="POST">
                    <div class="field">
                        {{ form.csrf_token() }}
                        <div class="control">{{ form.email(class="input", placeholder="Email") }}</div>
                        <div class="control">{{ form.password(class="input", placeholder="Password") }}</div>
                        <div class="submit">{{ form.submit(class="button is-info is-centered") }}</div>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}