<!--
File: login.html

Authors: Sreejith Sudhir Kalathil, George Pickard, Alexander MacMillan

Description: Provides the graphical user interface for the web page that allows the user to log in to the website; it links to a form in user/views.py and ensures the information the user inputs
matches the criteria specified in the user/views.py file before logging the user in
-->



{% extends "base.html" %}

{% block content %}
    <title>Login form</title>

    <div class="center">
        <div class="column is-5 is-offset-4">
            <h3 class="PageText">Login</h3>
            <form method="POST">
                <div class="container">
                    {{ form.csrf_token() }}
                    {{ form.email(class="input", placeholder="Email") }}
                    {% for error in form.email.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                    {{ form.password(class="input", placeholder="Password") }}
                    {% for error in form.password.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                    {{ form.submit(class="button") }}

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="flash-messages">
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}
