<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero-Hunger App</title>
    <link rel="stylesheet" href="../../static/AccountStyle.css">
</head>
<body>
    <header>
        <div class="logo">Leftovers</div>
        <nav>
            <a href="{{ url_for('producer.supplier_dash')}}">Dashboard</a>
            <a href="{{ url_for('users.logout')}}">Log out</a>
        </nav>
    </header>
    <div class="container">
        <h1>Account Information</h1>
        <div class="account-info">
                <h1>Welcome, {{ producer_name }}</h1>
                <p>ID: {{ id }}</p>
                <p>Email: {{ email }}</p>
                <p>Phone: {{ phone }}</p>
                <p>Address Line 1: {{ address_1 }}</p>
                <p>Address Line 2: {{ address_2 }}</p>
                <p>Address Line 3: {{ address_3 }}</p>
                <p>Postcode: {{ postcode }}</p>
        </div>
    </div>
    <footer>
        <nav>
            <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="{{ url_for('contact_us') }}">Contact Us</a>
        </nav>
    </footer>
</body>
</html>
