{% extends "base.html" %}

{% block content %}

    <title>Register form</title>

    <div class="center">
        <div class="column is-5 is-offset-4">
            <h3 class="page_text">Register</h3>
            <div class="ignore-styles">Already have an account? <a href="{{ url_for('users.login') }}">Sign in</a></div>
                <form method="POST">
                    <div class="field">
                        {{ form.csrf_token() }}
                        <div class="control">{{ form.email(class="input", placeholder="Email") }}</div>
                        <div class="control">{{ form.phone(class="input", placeholder="Phone") }}</div>
                        <div class="control">{{ form.password(class="input", placeholder="Password") }}</div>
                        <div class="control">{{ form.confirm_password(class="input", placeholder="Confirm Password") }}</div>
                    </div>

                    <div>
                        <div class="submit">{{ form.submit(class_="btn btn-primary") }}</div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
