{% extends "base.html" %}

{% block content %}

    <title>Register form</title>

    <div class="center">
        <div class="column is-5 is-offset-4">
            <h3 class="page_text">Register</h3>
            <div class="sign_in_text">Already have an account?</div>
            <a href="{{ url_for('users.login') }}"> <div class="sign_in_link">Sign in</div></a>
                <form method="POST">
                    <div class="container">
                        {{ form.csrf_token() }}
                        {{ form.email(class="input", placeholder="Email") }}
                        {{ form.firstname(class="input", placeholder="First Name") }}
                        {{ form.lastname(class="input", placeholder="Last Name") }}
                        {{ form.phone(class="input", placeholder="Phone") }}
                        {{ form.password(class="input", placeholder="Password") }}
                        {{ form.confirm_password(class="input", placeholder="Confirm Password") }}
                        {{ form.postcode(class="input", placeholder="Postcode") }}
                        <div class="field">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="role" value="producer">
                                    Producer
                                </label>
                                <label class="radio">
                                    <input type="radio" name="role" value="consumer">
                                    Consumer
                                </label>
                            </div>
                        </div>
                        {{ form.submit(class="button") }}
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
